{%- assign product = all_products[section.settings.product] -%}

<div>
  <a href="{{ product.url }}">
    <img alt="{{ product.title }}" src="{{ product | img_url: '512x512' }}" />
  </a>
  <a href="{{ product.url }}">
    <h3>{{ product.title }}</h3>
  </a>
  {%- for variant in product.variants -%}
    <div>
      <span>{{ variant.title }}</span>
      <button class="button" type="button" onclick="CartApp.addToCart({{ variant.id }})">Add to cart</button>
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Featured Product",
        "category": "Products"
      }
    ]
  }
{% endschema %}