<div class="text-center text-white links-white font-lighter">
  <div class="margin-vertical-2">
    {{ 'general.password_page.contact_title' | t }}
    <a class="text-underline" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
  </div>

  <div class="text-hoki margin-vertical-1">
    <small>&copy;{{ shop.name }} {{ 'now' | date: '%Y' }}. {{ 'layout.footer.rights' | t }}. {{ shop.address.summary }}</small>
  </div>
</div>
