<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {% include 'style-tags', layout: 'password' %}
    {% include 'script-tags', layout: 'password' %}

    {{ content_for_header }}
  </head>

  <body class="grid-y align-center align-middle bg-cornflower-lilac" style="min-height: 100vh;">
    {{ content_for_layout }}
  </body>
</html>
