<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {% include 'style-tags', layout: 'theme' %}
    {% include 'script-tags', layout: 'theme' %}

    {{ content_for_header }}
  </head>

  <body>
    <div class="grid-y grid-frame">
      <div class="hide-for-large">{% section 'header' %}</div>

      <div class="cell auto grid-x">
        <div class="cell shrink show-for-large">{%- include 'nav' -%}</div>
        <div class="cell auto">{{ content_for_layout }}</div>
      </div>

      <div class="cell shrink">{% section 'footer' %}</div>
    </div>

    {%- include 'cart-button' -%}
    {%- include 'cart-drawer' unless request.path == '/cart' -%}
    {%- include 'nav-drawer' -%}

    {% include 'var.cart' %}
    {% include 'var.locale' %}
  </body>
</html>
