<!doctype html>
<html lang="{{ shop.locale }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    <title>{{ shop.name }}</title>

    <meta name="description" content="">

    {% include 'style-tags', layout: 'theme' %}
    {% include 'script-tags', layout: 'theme' %}

    {{ content_for_header }}
  </head>

  <body>
    <div class="off-canvas-wrapper">
      <div class="off-canvas-content" data-off-canvas-content>
        <div class="grid-y grid-frame">
          <div class="cell shrink">
            {% include 'header' %}
          </div>
          <div class="cell auto">
            {{ content_for_layout }}
          </div>
          <div class="cell shrink">
            {% include 'footer' %}
          </div>
        </div>
      </div>

      {% include 'nav-drawer' %}
      {% include 'cart-drawer' %}
    </div>
  </body>
</html>
