<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="">
  <link rel="canonical" href="{{ canonical_url }}">

  <title>{{ shop.name }}</title>

  <meta name="description" content="">

  {% include 'style-tags', layout: 'theme' %}
  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}
</head>

<body>
  <div class="grid-y medium-grid-frame">
    <div class="top-bar cell">
      <div class="top-bar-left">
        <ul class="menu">
          <li class="menu-text">{{ shop.name }}</li>
          <li><a href="#">One</a></li>
          <li><a href="#">Two</a></li>
        </ul>
      </div>

      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="#">Three</a></li>
          <li><a href="#">Four</a></li>
          <li><a href="#">Five</a></li>
          <li><a href="#">Six</a></li>
        </ul>
      </div>
    </div>

    <div class="cell medium-auto">
      {{ content_for_layout }}
    </div>

    <div class="cell shrink footer">
      footer
    </div>
  </div>
</body>
</html>
